<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expert Assist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container card" style="margin-top: 50px; padding: 30px">
    <div class="row justify-content-center container">
        <div class="content">
              <h1> Please upload your csv file </h1> <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row content">
                        <div class="col"> <br>
                            <input type="file" name="document" id="document" required="required">
                        </div>

                         <div class="col">
                             <p id="id"> Attribute ID</p>
                            <input type="text" name="attributeid" id="attributeid" required="required">
                        </div>

                         <div class="col"> <br>
                            <button id="submit" class="btn-primary"> Upload</button>
                        </div>
                    </div>
                </form>
        <br>

    {% block messages %}
        {% if messages %}
            <div class="container" style="color: firebrick; margin-top: 20px" >
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
              </div>
</div>
</div>
</body>
</html>